{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Page Header -->
    <section class="masthead">
        <div class="overlay"></div>
        <div class="container-fluid">

            <div class="row">
                <div class="col">
                    <br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opções
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            <a class="dropdown-item" href="{% url 'news:todos' new.channels.slug %}">Voltar</a>
                            <a class="dropdown-item" href="{% url 'news:home' %}">Página inicial</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-md-8 mx-auto">
                    <a href=""><img class="card-img-top" src="{{ new.imagem }}"></a>

                    <div class="post-heading">


                        <h1>{{ new.titulo|striptags|linebreaksbr }}</h1>

                        {#                        <h2 class="subheading">{{ new.descricao|striptags|linebreaksbr }}</h2>#}
                        <span class="meta">Posted by
                <a href="#">{{ new.autor }}</a>
                em {{ new.data.date }}</span>
                    </div>
                </div>

                <div class="col"><!--LATERAL DIREITA-->
                    <br>
                    <div class="btn btn-success">
                        <a target="_blank" href="https://www.amazon.com.br/gp/product/B079ZLLXVF/ref=s9u_ri_gw_i3?ie=UTF8&amp;pd_rd_i=B079ZLLXVF&amp;pd_rd_r=d360f2e5-4eea-11e8-a0f8-f19795331bad&amp;pd_rd_w=nEBNt&amp;pd_rd_wg=wdQgT&amp;pf_rd_m=A1ZZFT5FULY4LN&amp;pf_rd_s=&amp;pf_rd_r=360HHZAX2K1GKGRM8JW1&amp;pf_rd_t=36701&amp;pf_rd_p=609c0aae-865b-4b45-8c5b-6c0bf8b16e37&amp;pf_rd_i=desktop&_encoding=UTF8&tag=amazon03f0b-20&linkCode=ur2&linkId=352487fadfec5fbfd4b7aec2df38f641&camp=1789&creative=9325">
                            <b class="text-white">Ajude o site</b>
                        </a>
                    </div>
                    <a href="https://www.amazon.com.br/Smartphone-Motorola-dourado-Camera-Brides/dp/B075FBWWF3/ref=as_li_ss_il?pf_rd_i=16243890011&pf_rd_m=A3RN7G7QC5MWSZ&pf_rd_p=726eb85d-4038-41f0-bb69-8b47c8919edb&pf_rd_r=5FZSXWVYEBM1BRQCV22B&pf_rd_s=merchandised-search-3&pf_rd_t=101&qid=1525364738&sr=1-9&ref=sr_1_9&linkCode=li3&tag=amazon03f0b-20&linkId=dbf453e1412d095f449420e6ed747049" target="_blank">
                        <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B075FBWWF3&Format=_SL250_&ID=AsinImage&MarketPlace=BR&ServiceVersion=20070822&WS=1&tag=amazon03f0b-20" ></a><img src="https://ir-br.amazon-adsystem.com/e/ir?t=amazon03f0b-20&l=li3&o=33&a=B075FBWWF3" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    <img src="//ir-br.amazon-adsystem.com/e/ir?t=amazon03f0b-20&l=ur2&o=33" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

                </div>

            </div>

        </div>
    </section>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <a href="#">
                        <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
                    </a>
                    <p>{{ new.texto|striptags|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </article>

{% endblock content %}